<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="./assets/images/logo-black.svg" alt="CASE logo" width="124" />
      </a>
      <div class="navbar-touch is-hidden-desktop">
        <a
          class="navbar-item px-2"
          target="_blank"
          href="https://docs.case.app/#/"
        >
          <span class="icon-text">
            <span>Docs</span>
            <span class="icon">
              <i class="fa-solid fa-square-up-right ml-1"></i>
            </span>
          </span>
        </a>
        <a
          class="navbar-item px-2"
          href="https://github.com/casejs/case"
          target="_blank"
        >
          <i class="fa-brands is-size-5 fa-github"></i>
        </a>
        <a
          class="navbar-item px-2"
          href="https://discord.com/invite/FepAked3W7"
          target="_blank"
        >
          <i class="fa-brands is-size-5 fa-discord"></i>
        </a>
      </div>
    </div>

    <div class="navbar-menu has-text-weight-bold">
      <div class="navbar-start">
        <a class="navbar-item" target="_blank" href="https://docs.case.app/#/">
          <span class="icon-text">
            <span>Docs</span>
            <span class="icon">
              <i class="fa-solid fa-square-up-right ml-1"></i>
            </span>
          </span>
        </a>
      </div>
      <div class="navbar-end">
        <a
          class="navbar-item px-2"
          href="https://github.com/casejs/case"
          target="_blank"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          class="navbar-item px-2"
          href="https://discord.com/invite/FepAked3W7"
          target="_blank"
        >
          <i class="fa-brands fa-discord"></i>
        </a>
        <div class="navbar-item">
          <a
            class="button is-link"
            href="https://docs.case.app/#/"
            target="_blank"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
