<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="./assets/images/logo-black.svg" alt="CASE logo" width="124" />
      </a>
      <div class="navbar-touch is-hidden-desktop">
        <a
          class="navbar-item px-2"
          target="_blank"
          href="https://docs.case.app"
        >
          <span class="icon-text has-text-dark">
            <span>Docs</span>
            <span class="icon">
              <i class="fa-solid fa-square-up-right ml-1"></i>
            </span>
          </span>
        </a>
        <a class="navbar-item has-text-dark px-2" routerLink="/faq">
          <span>FAQ</span>
        </a>
        <a
          class="navbar-item px-2"
          href="https://github.com/casejs/case"
          target="_blank"
        >
          <i class="has-text-dark fa-brands is-size-5 fa-github"></i>
        </a>
        <a
          class="navbar-item px-2"
          href="https://discord.com/invite/FepAked3W7"
          target="_blank"
        >
          <i class="has-text-dark fa-brands is-size-5 fa-discord"></i>
        </a>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a
          class="navbar-item px-2"
          target="_blank"
          href="https://docs.case.app"
        >
          <span class="is-flex is-align-items-center is-justify-content-center">
            <span>Docs</span>
            <span class="icon ml-1">
              <i
                class="fa-solid fa-square-up-right"
                style="position: relative; top: -2px"
              ></i>
            </span>
          </span>
        </a>
        <a class="navbar-item px-2" routerLink="/faq">
          <span>FAQ</span>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item pt-2">
          <a
            class="github-button"
            href="https://github.com/casejs/case"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star casejs/case on GitHub"
            >Star</a
          >
        </div>
        <a
          class="navbar-item px-2"
          href="https://discord.com/invite/FepAked3W7"
          target="_blank"
        >
          <i class="fa-brands fa-discord"></i>
        </a>
        <div class="navbar-item">
          <a
            class="button is-success"
            href="https://docs.case.app"
            target="_blank"
          >
            Get started
          </a>
        </div>
        <div class="navbar-item pl-0">
          <div class="dropdown is-active">
            <div class="dropdown-trigger">
              <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fa-solid fa-desktop" aria-hidden="true"></i>
                </span>
                <span>Demo</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item has-text-dark" href="https://demo2.case.app/auth/login?email=user1@case.app&password=case">
                  Invoicing app
                </a>
                <a href="#" class="dropdown-item has-text-dark">
                  Project management app
                </a>
                <a href="#" class="dropdown-item has-text-dark">
                  HR dashboard
                </a>
              </div>
            </div>
          </div>
        

        </div>
      </div>
    </div>
  </div>
</nav>
