<nav class="navbar has-shadow is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img
            src="./assets/images/logo-white.svg"
            alt="CASE: Develop quickly and easily
            fantastic custom business applications."
            width="124"
            
          />
        </a>
        <div class="navbar-burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
      <div class="navbar-menu has-text-weight-bold">
        <div class="navbar-start">
            <a class="navbar-item" target="_blank" href="https://docs.case.app/#/">
              <span>Docs</span>
              <i class="icon icon-arrow-up-right"></i>
            </a>
        </div>
        <div class="navbar-end">
          <a
            class="navbar-item"
            href="https://github.com/casejs"
            target="_blank"
          >
          <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="navbar-item"
            href="https://discord.com/invite/FepAked3W7"
            target="_blank"
          >
          <i class="fa-brands fa-discord"></i>
          </a>
          <div
            class="navbar-item"
          >
          <a class="button is-link" href="https://docs.case.app/#/" target="_blank">
            <strong>Get started</strong>
          </a>
            
            </div>
        </div>
      </div>
    </div>
  </nav>
  