<div class="container" *ngIf="applet">
  <div class="columns">
    <div class="column">
      <h1 class="title is-1">{{ applet.name }}</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <h2 class="title is-2">Description</h2>
      <p>{{ applet.description }}</p>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <a [href]="applet.githubLink" target="_blank">Github</a>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <img
        [src]="storagePath + applet.screenshot.large"
        alt="{{ applet.name }} screenshot"
      />
    </div>
  </div>
</div>
