button,
.button {
  font-weight: $weight-bold;
  transition: all 0.1s ease-in-out;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.is-#{$name}, &.is-#{$name}:focus,&.is-#{$name}:active, &.is-#{$name}:hover, &.is-#{$name}:hover:active, &.is-#{$name}:focus:active, &.is-#{$name}:focus:hover {
      box-shadow:0px 100px 80px rgba($color, 0.07), 
                 0px 41.7776px 33.4221px rgba($color, 0.0503198), 
                 0px 22.3363px 17.869px rgba($color, 0.0417275), 
                 0px 12.5216px 10.0172px rgba($color, 0.035), 
                 0px 6.6501px 5.32008px rgba($color, 0.0282725), 
                 0px 2.76726px 2.21381px rgba($color, 0.0196802);
    }
  }

  &.is-circle {
    height: $perimeter;
    width: $perimeter;
    min-height: $perimeter;
    min-width: $perimeter;
    max-height: $perimeter;
    max-width: $perimeter;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: $perimeter;

    &.is-small {
      height: $perimeter-small;
      width: $perimeter-small;
      min-height: $perimeter-small;
      min-width: $perimeter-small;
      max-height: $perimeter-small;
      max-width: $perimeter-small;
      border-radius: $perimeter-small;
    }
    &.is-medium {
      height: $perimeter-medium;
      width: $perimeter-medium;
      border-radius: $perimeter-medium;
      min-height: $perimeter-medium;
      min-width: $perimeter-medium;
      max-height: $perimeter-medium;
      max-width: $perimeter-medium;
    }
    &.is-large {
      height: $perimeter-large;
      width: $perimeter-large;
      border-radius: $perimeter-large;
      min-height: $perimeter-large;
      min-width: $perimeter-large;
      max-height: $perimeter-large;
      max-width: $perimeter-large;
    }
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.4;
    
  }
}

