.is-white-space-nowrap {
  white-space: nowrap;
}

.is-fullheight {
  height: 100%;
}
.is-fullwidth {
  width: 100%;
}

.is-absolute {
  position: absolute;
}

img {
  &.is-object-fit-contain {
    @include object-fit(contain);
    width: 100%;
    height: 100%;
  }
  &.is-object-fit-cover {
    @include object-fit(cover);
    width: 100%;
    height: 100%;
  }
}

.has-shadow {
  box-shadow: $shadow;
}

.has-border-radius {
  border-radius: 4px;
}

.is-overflow-hidden {
  overflow: hidden;
}
