$object-fit-values: cover, contain, fill, none, scale-down;
@each $value in $object-fit-values {
  .has-object-fit-#{$value} img {
    object-fit: $value;
  }
}

$object-x-position-values: center, left, right;
$object-y-position-values: center, top, bottom;
@each $x in $object-x-position-values {
    @each $y in $object-y-position-values {
        .has-object-position-#{$x}-#{$y} img{
            object-position: $x $y;
        }
    }
}


[class^='has-object-fit'] {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}
