
*:focus {
  outline: none;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;

  @include touch {
    font-size: $body-size-touch;
  }
  @include mobile {
    font-size: $body-size-mobile;
  }

  &.is-clipped {
    position: fixed;
    overflow: hidden !important;
    width: 100%;

    body {
      position: fixed;
      overflow: hidden !important;
      width: 100%;
    }
  }
}

body {
  text-rendering: optimizeLegibility;
  overflow: hidden;
  color: $black;
  font-size: $size-normal;
}

.wrapper {
  padding: 0 #{$column-gap};
  width: 100vw;
}

.section {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}
aside {
  border-right: 1px solid $border-color;
}

main {
  min-height: calc(100vh + #{$gap} - 163.19px - #{$navbar-height});
  padding-bottom: $gap;
  @include touch {
    --top-header-height : 28.61px;
    min-height: calc(100vh + #{$gap} - 163.19px - #{$navbar-height} - var(--top-header-height));
    margin-top: calc($column-gap + var(--top-header-height));
  }
  @include mobile {
    --top-header-height : 21.83px;
  }
}

.pointer {
  cursor: pointer;
}

.is-borderless {
  border: 0;
}

.is-luminous {
  mix-blend-mode: luminosity;
}

.is-object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
