.dropdown-trigger:after {
  @extend .ci;
  @extend .ci-caret_down;
}

.navbar.has-centered-menu {
  .navbar-start {
    flex-grow: 1;
    justify-content: center;
  }
}

.navbar-burger {
  background-color: $navbar-burger-background-color;
}

.navbar {
  font-family: $family-alt;

  &-link:not(.is-arrowless) {
    @include ltr-property("padding", 2em);

  &::after {
    font-size: .8em;
  }
  }
}
