.tabs-content > div {
  display: none;

  &.is-active {
    display: block;
  }
}

tr {

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} td {
      background-color: rgba($color, 0.04);
    }
  }
}

.tabs {
  li {
    a {
      background-color: $tabs-toggle-link-background-color;
    }

    &.is-active {
      a {
        position: relative;
        background-color: rgba($tabs-link-active-color, 0.12);
      }
    }
  }

  &.is-vertical {
    ul {
      gap: 1px
    }

    li {
      width: 100%;

      a {
        justify-content: space-between;
        border-radius: $radius-large;
      }

    }
  }

  &.is-boxed {

    ul {
      border-bottom: $tabs-border-bottom-width;
      gap: 2px;
      padding-bottom: 2px;
    }

    li {
      a {
        background-color: $tabs-boxed-link-background-color;
        border-width: $tabs-boxed-link-border-width;


      }

      &:focus {
        a {
          background-color: $grey-lighter;
        }
      }

      &.is-active {
        a {
          background-color: $tabs-boxed-link-active-color;

          &:hover {
            background-color: $tabs-boxed-link-hover-background-color;
            border-bottom-color: $tabs-boxed-link-hover-border-bottom-color;
          }
        }
      }
    }
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);

  .tabs.is-#{$name} {
    li {
      &.is-active {
        a {
          border-bottom-color: $color;
          color: $color;
        }
      }
    }
  }
}
