@import '../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

.box {
  --code-color: #b3bbc7;
  --sidebar-width: 40px;
  --sidebar-padding: 10px;
  --header-padding: 10px 10px;

  &--code {
    width: 100%;
    background-color: $black-ter;
    color: var(--code-color);
    text-align: left;

    &__head {
      padding: var(--header-padding);
    }

    &__sidebar {
      width: var(--sidebar-width);
      padding-right: var(--sidebar-padding);
      line-height: 1.589;
      color: $grey;
    }

    &__body {
      pre {
        color: var(--code-color);
      }
    }

    &__content {
      padding-left: var(--sidebar-padding);

    }
  }
}

pre {
  padding: 0;
}

#typewriter {
  font-family: $family-code;

  &:after {
    content: '|';
    animation: blink 500ms linear infinite alternate;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
