<div class="box-wrapper">
<div class="box box--code is-flex is-align-items-flex-start is-justify-content-flex-start is-flex-direction-column px-0 pt-0 pb-3 is-shadowless">
    <div class="left"></div>
    <div class="box--code__head is-size-7">
        <span class="icon-text">
            <span class="icon">
              <img src="./assets/images/ts-logo.svg" width="12px" alt="">
            </span>
            <span>client.entity.ts</span>
          </span>
    </div>
    <div class="box--code__body is-flex">
        <div class="box--code__sidebar is-flex is-flex-direction-column is-align-items-flex-end">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
            <span>12</span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span>17</span>
            <span>18</span>
        </div>
        <div class="box--code__content is-flex is-align-items-flex-start is-justify-content-flex-start is-flex-direction-column">
<pre>
export class <span class="has-text-link">User</span> &#123;
    @<span class="has-text-pink is-italic">Prop</span><span class="has-text-link">&#40;&#41;</span>
    name: <span class="has-text-success">string</span>
&#125;
</pre>
<pre #typewriter id="typewriter">

@<span class="has-text-pink is-italic">Prop</span><span class="has-text-link">&#40;&#123;</span>
    type: <span class="has-text-link">PropType</span>.<span class="has-text-success">Email</span>,
<span class="has-text-link">&#125;&#41;</span>
<span class="is-italic">email</span>: <span class="has-text-success">string</span>

@<span class="has-text-pink is-italic">Prop</span><span class="has-text-link">&#40;&#123;</span>
    label: 'Position',
    type: <span class="has-text-link">PropType</span>.<span class="has-text-success">Relation</span>,
    options: &#123;
        entity: <span class="has-text-link">Job</span>,
    &#125;,
<span class="has-text-link">&#125;&#41;</span>
<span class="is-italic">position</span>: <span class="has-text-link">Position</span>
</pre>
            </div>
        </div>
    </div>
</div>
