<div class="box box--code is-flex is-align-items-flex-start is-justify-content-flex-start is-flex-direction-column p-0">
    <div class="box--code__head is-size-7">
        <span class="icon-text">
            <span class="icon">
              <img src="./assets/images/ts-logo.svg" width="12px" alt="">
            </span>
            <span>client.entity.ts</span>
          </span>
    </div>
    <div class="box--code__body is-flex">
        <div class="box--code__sidebar is-flex is-flex-direction-column is-align-items-flex-end">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
            <span>12</span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span>17</span>
        </div>
        <div class="box--code__content is-flex is-align-items-flex-start is-justify-content-flex-start is-flex-direction-column">
<pre>
export class User &#123;
    @Prop &#40;&#41;
    name: string
&#125;
</pre>
<pre #typewriter>
@Prop &#40;&#123;
    label: ‘Active user',
    type: PropType.Boolean,
&#125;&#41;
isActive: boolean

@Prop &#40;&#123;
type: PropType.Relation,
options: &#123;
    entity: Job,
&#125;,
&#125;&#41;
job: Job
</pre>
        </div>
    </div>
</div>

