@if (template) {
<div class="hero">
  <div class="hero-body has-background-bis has-border-bottom">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <a
            [routerLink]="['/templates']"
            class="content is-small mb-5 icon-text is-flex is-align-items-center is-justify-flex-start"
          >
            <span class="icon is-small has-text-decoration-none mr-1">
              <i class="lni lni-arrow-left is-size-6"> </i>
            </span>
            <span class="has-text-decoration-none"> Back to templates </span>
          </a>
          <h1 class="title is-2">{{ template.name }}</h1>
          <p class="content is-normal">{{ template.excerpt }}</p>
          <div class="tags">
            @for (useCase of template.useCases; track useCase) {
            <div class="tag is-bordered is-white">
              <span
                [ngClass]="'type-' + useCase.toLowerCase().split(' ').join('-')"
              >
                {{ useCase }}
              </span>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} @if (template) {
<div class="container-full has-background-white mt-3">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="has-background-white-bis">
          <!-- Source code-->
          <div class="columns is-gapless is-multiline tpl-wrapper">
            <div class="column is-12">
              <div class="tabs mb-0">
                <div
                  class="tpl-tabs card has-background-white-bis is-shadowless is-fullwidth p-4 tab-list is-flex is-align-items-flex-start mb-0"
                >
                  <div class="tab">
                    <span
                      (click)="selectedTab = 'db'"
                      [ngClass]="{
                        'is-white': selectedTab === 'db',
                        'is-white-bis': selectedTab !== 'db'
                      }"
                      class="tag is-rounded"
                      >Database</span
                    >
                  </div>
                  <div class="tab">
                    <span
                      (click)="selectedTab = 'api'"
                      [ngClass]="{
                        'is-white': selectedTab === 'api',
                        'is-white-bis': selectedTab !== 'api'
                      }"
                      class="tag is-rounded"
                      >API</span
                    >
                  </div>
                  <div class="tab">
                    <span
                      (click)="selectedTab = 'code'"
                      [ngClass]="{
                        'is-white': selectedTab === 'code',
                        'is-white-bis': selectedTab !== 'code'
                      }"
                      class="tag is-rounded"
                      >Code</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-9">
              <div class="tpl-content">
                @if (selectedTab === 'db') {
                <div class="content mb-0">
                  <img
                    class="is-block"
                    src="./assets/images/templates/{{ template.diagram }}"
                  />
                </div>
                } @if (selectedTab === 'api') {
                <div class="content mb-0">
                  <div class="m-5">
                    <div class="select mb-5">
                      <select
                        name=""
                        id=""
                        class="select is-small"
                        (change)="filterEndpoints($event.target)"
                      >
                        <option value="Public">Public endpoints</option>
                        <option value="Admin">Admin endpoints</option>
                        <option value="">All endpoints</option>
                      </select>
                    </div>
                    @for (endpoint of filteredEndpoints; track endpoint) {
                    <div>
                      <div
                        class="content is-flex is-align-items-flex-start is-justify-content-flfex-start mb-2"
                      >
                        <span class="tag is-small is-dark mr-3">{{
                          endpoint.method
                        }}</span>
                        <div>
                          <p class="has-text-weight-bold">
                            {{ endpoint.path }} - {{ endpoint.summary }}
                            @if (endpoint.auth) {
                            <span class="tag is-disabled"
                              >🔒 {{ endpoint.auth }}</span
                            >
                            }
                          </p>
                        </div>
                      </div>
                      <p>{{ endpoint.description }}</p>
                      <hr />
                    </div>
                    }
                  </div>
                </div>
                } @if (selectedTab === 'code') {
                <div class="content mb-0">
                  <div class="ui-ide is-fullwidth is-bordered">
                    <div class="ide">
                      <div class="sidebar has-text-grey-dark">
                        <div class="sidebar__title">
                          <span>explorer</span>
                          <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div
                          class="explorer-item level-2 is-clickable"
                          (click)="selectedFile = 'manifest.yml'"
                          [ngClass]="{
                            'is-active': selectedFile === 'manifest.yml'
                          }"
                        >
                          <i
                            class="fa-solid fa-exclamation has-text-primary is-italic"
                          ></i>
                          <span class="">manifest.yml</span>
                        </div>
                        @if (template.repo.content.handlers?.length > 0) {
                        <div
                          class="explorer-item level-2 has-1-children is-parent"
                        >
                          <i class="fa-solid fa-chevron-down"></i>
                          <i class="fa fa-folder has-text-grey-light"></i>
                          <span class="">handlers</span>
                        </div>
                        @for (handler of template.repo.content.handlers; track
                        handler.name) {
                        <div
                          class="explorer-item level-3 is-clickable"
                          (click)="selectedFile = handler.name"
                          [ngClass]="{
                            'is-active': selectedFile === handler.name
                          }"
                        >
                          <i class="lni lni-javascript has-text-warning"></i>
                          <span class="">{{ handler.name }}</span>
                        </div>
                        } }
                      </div>
                      <div class="editor-container">
                        <div class="editor-template">
                          <div class="code">
                            <!-- manifest.yml -->
                            @if (selectedFile === 'manifest.yml') {
                            <pre class="pre mt-0 p-0">
                                        <code #codeBlock class="hljs language-yaml has-text-left is-size-7" [innerHTML]="highlightedManifestContent"></code>
                                    </pre>
                            }
                            <!-- handlers -->
                            <ng-container #handlerBlocks>
                              @for (handler of template.repo.content.handlers;
                              track handler.name) { @if (selectedFile ===
                              handler.name) {
                              <pre class="pre mt-0 p-0">
                                    <code #codeBlock class="hljs language-javascript has-text-left is-size-7" [innerHTML]="$any(handler).highlightedContent"></code>
                                </pre>
                              } }
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                }
                <div class="tpl-inline-content">
                  <div class="m-5 content">
                    <h2 class="title is-4">Overview</h2>
                    <div [innerHTML]="template.description"></div>
                    @for (faq of faqContent; track faq.question) {
                    <h2 class="title is-4">{{ faq.question }}</h2>
                    <p>{{ faq.answer }}</p>
                    }
                  </div>
                </div>
              </div>
            </div>
            @if (template.repo) {
            <div class="column is-3">
              <div class="tpl-sidebar p-5">
                <div class="content">
                  <div class="mb-5">
                    <a
                      href="https://github.com/new?template_name={{
                        template.repo.name
                      }}&template_owner={{ template.repo.owner.login }}"
                      class="button is-fullwidth is-dark is-small"
                      target="_blank"
                    >
                      <span class="icon">
                        <i class="fab fa-github"></i>
                      </span>
                      <span>Use this template</span>
                    </a>
                  </div>
                  @if (template.features?.length > 0) {
                  <p>
                    <strong>Features:</strong>
                  </p>
                  <div class="tags">
                    @for (feature of template.features; track feature) {
                    <div
                      class="tag is-light is-rounded"
                      [ngClass]="
                        feature.toLowerCase() === 'storage'
                          ? 'is-danger'
                          : feature.toLowerCase() === 'endpoints'
                          ? 'is-info'
                          : feature.toLowerCase() === 'auth'
                          ? 'is-warning'
                          : 'is-success'
                      "
                    >
                      {{ feature }}
                    </div>
                    }
                  </div>
                  <hr />
                  }
                  <p>
                    <strong>Version:</strong>
                  </p>
                  <p>
                    {{
                      template.repo.content.packageJsonContent.templateVersion
                    }}
                  </p>
                  <hr />
                  <p><strong>Author</strong>:</p>
                  <a
                    [href]="template.repo.owner.profileUrl"
                    target="_blank"
                    class="avatar is-flex is-align-items-center is-justify-content-flex-start has-text-dark ghost"
                  >
                    <figure class="image is-32x32">
                      <img
                        [src]="template.repo.owner.avatar"
                        alt="Avatar"
                        class="avatar is-rounded"
                      />
                    </figure>
                    <span class="content is-small ml-2"
                      >&#64;{{ template.repo.owner.login }}</span
                    >
                  </a>
                  <hr />
                  <p><strong>Dependencies</strong><br /></p>
                  @for (dependency of
                  template.repo.content.packageJsonContent.dependencies; track
                  dependency.name) {
                  <div>
                    <a
                      href="https://www.npmjs.com/package/{{ dependency.name }}"
                      target="_blank"
                      >{{ dependency.name }}</a
                    >
                    : {{ dependency.version }}
                  </div>
                  }
                  <hr />
                  @if (template.tags?.length > 0) {
                  <p><strong>Tags:</strong></p>
                  <div class="tags">
                    @for (tag of template.tags; track tag) {
                    <div class="tag is-white-bis">
                      {{ tag }}
                    </div>
                    }
                  </div>
                  }
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
