<section class="hero-mcp">
  <div class="container mt-6">
    <div class="columns is-vcentered">
      <!-- Content Column -->
      <div class="column is-4">
        <div class="hero-mcp__content">
          <h1 class="title is-2 mb-4">
            Own your presence in
            <span class="title-gradient">AI Chat</span>
          </h1>
          <p class="is-size-6 mb-5 pb-2">
            800 million people use ChatGPT and Claude every week. They're ready
            to book, order, and subscribe right in the conversation. Are you
            there?
          </p>
          <p class="is-size-6 mb-5 pb-2">
            Manifest allows your product teams to generate agentic UIs from your
            existing APIs.
          </p>

          <div class="hero-mcp__actions mb-7">
            <app-waiting-list-form></app-waiting-list-form>
          </div>
          <app-client-logos></app-client-logos>
        </div>
      </div>

      <!-- Visual Column -->
      <div class="column is-8">
        <div class="hero-mcp__visual">
          <div class="diagram-wrapp">
            <app-diagram></app-diagram>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
