<section class="hero-mcp">
  <div class="container mt-6">
    <div class="columns is-vcentered">
      <!-- Content Column -->
      <div class="column is-6">
        <div class="hero-mcp__content">
          <h1 class="title is-2 mb-4">
            <span>Let your customers </span>
            <span>
               <span>book a flight</span>
               <span>order dinner</span>
               <span>get a quote</span>
               <span>schedule a demo</span>
               <span>book a doctor</span>
               <span>transfer money</span>
            </span> 
            <span>right inside an AI Chat</span>
            <span class="title-gradient">AI Chat</span>
          </h1>
          <p class="is-size-6 mb-5 pb-2">
            800 million people use ChatGPT and Claude every week. They're ready
            to book, order, and subscribe right in the conversation. Are you
            there?
          </p>
          <p class="is-size-6 mb-5 pb-2">
            Manifest allows your teams to generate Agentic UIs from your
            existing APIs. Ship once, reach every AI assistant. Track what
            converts. Own the customer relationship.
          </p>
          <div class="hero-mcp__actions">
            <div class="is-flex is-align-items-center has-gap-3 mb-7">
              <button
                class="button is-gradient-animated is-small mr-5"

              >
                Book a demo
              </button>
            </div>
          </div>
          <div class="hero-mcp__actions mb-7">
            <app-waiting-list-form></app-waiting-list-form>
          </div>
          <app-client-logos></app-client-logos>
        </div>
      </div>

      <!-- Visual Column -->
      <div class="column is-6">
        <div class="hero-mcp__visual">
          <div class="diagram-wrapp">
            <app-diagram></app-diagram>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
