<form [formGroup]="form" (submit)="onSubmit()">
  <div class="is-flex is-align-items-flex-end is-justify-content-flex-start">
    <div class="field has-addons is-fullwidth">
      <div class="control is-fullwidth">
        <input
          id="email"
          name="email"
          placeholder="Your email"
          formControlName="email"
          type="email"
          class="input is-default"
          required
        />
      </div>
      <div class="control">
        <button type="submit" class="button is-white">
          <span class="icon">
            <i class="fa fa-arrow-right is-size-7"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</form>
