<div class="columns">
    <div class="column is-3 is-fullheight">
        <div class="card is-fullheight">
            <div class="card-content is-fullheight">
                <div class="content is-fullheight">
                    <div class="tabs is-boxed is-vertical is-fullheight is-shadowless">
                        <ul class="is-flex is-flex-direction-column is-fullwidth is-fullheight m-0">
                        <li data-target="fetch" class="is-active"><a class="has-text-dark no-deco">Fetch</a></li>
                        <li data-target="filters"><a class="has-text-dark no-deco">Filters</a></li>
                        <li data-target="manipulate"><a class="has-text-dark no-deco">Manipulate</a></li>
                        <li data-target="upload"><a class="has-text-dark no-deco">Upload</a></li>
                        <li data-target="auth"><a class="has-text-dark no-deco">Auth</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a class="m-2" href="">View more</a>
        
    </div>
    <div class="column is-9">
        <div class="content-wrap">
            <div id="manipulate" class="tab-content is-active">
              <img src="/assets/images/case-sdk.svg" alt="">
            </div>
            <div id="filters" class="tab-content is-active">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quodsi ipsam honestatem undique pertectam atque absolutam. Summae mihi videtur inscitiae. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Age, inquies, ista parva sunt. Duo
                Reges: constructio interrete.</p>
            </div>
            <div id="manipulate" class="tab-content is-active">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quodsi ipsam honestatem undique pertectam atque absolutam. Summae mihi videtur inscitiae. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Age, inquies, ista parva sunt. Duo
                Reges: constructio interrete.</p>
            </div>
            <div id="upload" class="tab-content is-active">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quodsi ipsam honestatem undique pertectam atque absolutam. Summae mihi videtur inscitiae. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Age, inquies, ista parva sunt. Duo
                Reges: constructio interrete.</p>
            </div>
            <div id="auth" class="tab-content is-active">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quodsi ipsam honestatem undique pertectam atque absolutam. Summae mihi videtur inscitiae. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Age, inquies, ista parva sunt. Duo
                Reges: constructio interrete.</p>
            </div>
          </div>
    </div>
</div>
