svg.chat-animation {
  width: 100%;
  height: auto;
  min-height: 500px;
  background: #ffffff;
  border-radius: 8px;

  @media (min-width: 1024px) {
    min-height: 600px;
  }

  @media (min-width: 1200px) {
    min-height: 650px;
  }
}
