<div class="is-fullheight is-flex is-flex-direction-column is-align-items-stretch">
    <div class="top-bar is-flex is-align-items-center is-justify-content-space-between">
        <div class="is-flex is-align-items-center is-justify-content-center  mr-2">
            <span class="has-text-success has-text-weight-bold pr-1">GET</span>
            <span class="endpoint-request">http://localhost:4000/api/dynamic/users/10</span>
        </div>
        <div class="is-flex is-align-items-center is-justify-content-center">
            <span class="has-text-grey-lighter pr-1">Status:</span>
            <span class="has-text-success has-text-weight-bold">200 OK</span>
        </div>
    </div>
    <pre class="is-fullheight is-relative">
    <span class="has-text-grey-lighter">&#123;</span>
        <span class="has-text-pink">"id"</span>: <span class="has-text-info-light"> 10,</span>
        <span class="has-text-pink">"name"</span>: <span class="has-text-info-light"> "Carla Levin",</span>
        <span class="api-display api-display--01"><span class="has-text-pink">"email"</span>: <span class="has-text-info-light"> "carla.levin@icloud.com",</span></span>
        <span class="api-display api-display--02"><span class="has-text-pink">"position"</span>: <span class="has-text-grey-lighter">&#123;</span>
            <span class="has-text-pink">"id"</span>: <span class="has-text-info-light"> 4,</span>
            <span class="has-text-pink">"name"</span>: <span class="has-text-info-light"> "IT architect",</span>
        <span class="has-text-grey-lighter">&#125;</span></span>
    <span class="bracket-end has-text-grey-lighter">&#125;</span>
    </pre>
</div>
