@import '../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

pre {
    border-bottom-left-radius: $radius-large;
    border-bottom-right-radius: $radius-large;
}

.api-display {
    opacity: 0;
    transform: translateY(5px);
    height: 0;
    -webkit-animation-name: api-display;
    animation-name: api-display;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;

    &--01 {
        -webkit-animation-delay: 3.5s;
        animation-delay: 3.5s;
    }

    &--02 {
        -webkit-animation-delay: 9s;
        animation-delay: 9s;
    }
}


@-webkit-keyframes api-display {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0;
        display: none;
        background-color: transparent;
    }

    60% {
        background-color: rgba($success, .36);
        display: inline;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        background-color: transparent;
    }
}

@keyframes api-display {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0;
        display: none;
        background-color: transparent;
    }

    60% {
        background-color: rgba($success, .36);
        display: inline;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        background-color: transparent;
    }
}


.top-bar {
    border-top-left-radius: $radius-large;
    border-top-right-radius: $radius-large;
    background-color: $dark;
    padding: #{$column-gap / 2} $column-gap;

    > div:first-child {
        flex-grow: 1
    }
}

.endpoint-request {
    border-radius: 100px;
    border: 0.5px solid $grey-darker;
    background-color: $black-ter;
    color: $grey-lighter;
    padding: 6px #{$column-gap / 1.5};
    width: 100%;
}
