<pre class="is-fullheight">
<span class="has-text-grey-lighter">&#123;</span>
    <span class="has-text-pink">"id"</span>: <span class="has-text-info-light"> 10,</span>
    <span class="has-text-pink">"name"</span>: <span class="has-text-info-light"> "Carla Levin",</span>
    <span class="api-display api-display--01"><span class="has-text-pink">"email"</span>: <span class="has-text-info-light"> "carla.levin@icloud.com",</span></span>
    <span class="api-display api-display--02"><span class="has-text-pink">"position"</span>: <span class="has-text-grey-lighter">&#123;</span>
        <span class="has-text-pink">"id"</span>: <span class="has-text-info-light"> 4,</span>
        <span class="has-text-pink">"name"</span>: <span class="has-text-info-light"> "IT architect",</span>
    <span class="has-text-grey-lighter">&#125;</span></span>
<span class="bracket-end has-text-grey-lighter">&#125;</span>
</pre>
