<div>
  <div class="mt-6 pt-4 mb-6">
    <div class="container zi-1">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1>Become a Sponsor</h1>
            <p>
              Manifest is an Open Source project and relies on the support of
              the community.
            </p>

            <p>
              Every contribution directly impacts the growth and sustainability
              of Manifest. Your sponsorship helps us:
            </p>
            <ul>
              <li>✅ Maintain and improve the product</li>
              <li>✅ Develop new features and capabilities</li>
              <li>✅ Create better documentation and learning resources</li>
              <li>✅ Provide community support</li>
            </ul>
            <p>
              By sponsoring Manifest, you're not just funding an open-source
              project. You're ensuring its long-term success and making it more
              accessible to developers worldwide.
            </p>

            <h2>Why sponsor Manifest ?</h2>
            <div class="columns">
              <div class="column">
                <div class="card is-shadowless">
                  <div class="card-content">
                    <div class="content">
                      <h3>For businesses 📈</h3>
                      <ul>
                        <li>
                          Ensure <strong>long-term sustainability</strong>
                          of a solution you rely on
                        </li>
                        <li>
                          Gain <strong>visibility</strong> in the Manifest
                          ecosystem
                        </li>

                        <li>Demonstrate commitment to open source</li>
                        <li>
                          Potential <strong>tax benefits</strong> for supporting
                          an open-source project
                        </li>
                      </ul>

                      <a
                        href="https://opencollective.com/mnfst"
                        class="button is-dark is-small"
                        target="_blank"
                      >
                        Become a Sponsor
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card is-shadowless is-fullheight">
                  <div class="card-content">
                    <div class="content">
                      <h3>For individuals 🧑‍💻</h3>
                      <ul>
                        <li>Support a tool you love</li>
                        <li>
                          Help maintain and improve independent
                          <strong>open-source development</strong>
                        </li>
                        <li>Get recognition for your contribution</li>
                        <li>
                          Keep Manifest
                          <strong>free and open-source for everyone</strong>
                        </li>
                      </ul>

                      <a
                        href="https://github.com/sponsors/mnfst"
                        class="button is-dark is-small"
                        target="_blank"
                      >
                        Become an individual backer
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h2>Every Contribution Matters</h2>

            <p>
              Whether you're an independent developer chipping in a few dollars
              a month or a company looking to make a bigger impact, your support
              drives Manifest forward.
            </p>

            <p>
              This isn't just about funding. It's about joining a community that
              values independent, open-source innovation. Together, we can
              ensure Manifest keeps evolving while staying true to its core
              principles.
            </p>
            <div class="has-text-centered is-size-5 mt-6 has-text-weight-bold">
              Thank you ❤️
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
