<div>
  <footer
    class="footer has-background-white-bis has-text-dark pb-6 has-border-top"
  >
    <div class="container">
      <div>
        <div class="columns is-multiline">
          <div class="column is-3">
            <div class="content">
              <img
                src="./assets/images/logo-transparent.svg"
                width="180"
                height="50"
                alt="logo of manifest"
                class="footer-logo"
                loading="lazy"
              />

              <div class="is-flex is-align-items-center mt-4" style="gap: 12px">
                <a
                  class="has-text-dark"
                  href="https://github.com/mnfst/manifest"
                  target="_blank"
                >
                  <i class="fab fa-github is-size-6"></i>
                </a>
                <a
                  class="has-text-dark"
                  href="https://discord.gg/FepAked3W7"
                  target="_blank"
                >
                  <i class="fab fa-discord is-size-6"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="content">
              <p
                class="has-text-weight-bold is-size-7"
                style="margin-top: 20px"
              >
                Resources
              </p>
              <ul class="no-lst is-size-8">
                <li>
                  <a href="https://manifest.build/docs" target="_blank">
                    Developer Docs
                  </a>
                </li>
                <li>
                  <a
                    href="https://github.com/mnfst/manifest/blob/master/CONTRIBUTING.md"
                    target="_blank"
                  >
                    Contributor Docs
                  </a>
                </li>
                <li>
                  <a href="/faq">FAQ</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="column is-3">
            <div class="content">
              <p
                class="has-text-weight-bold is-size-7"
                style="margin-top: 20px"
              >
                Community
              </p>
              <ul class="no-lst is-size-8">
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-comments is-size-8"></i>
                    </span>
                    <a
                      href="https://github.com/mnfst/manifest/discussions"
                      target="_blank"
                      width="64"
                      height="98"
                    >
                      Discussions
                    </a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-heart is-size-8"></i>
                    </span>
                    <a href="/sponsors">Sponsor Manifest</a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-image is-size-8"></i>
                    </span>
                    <a href="/brand-assets">Brand assets</a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-handshake is-size-8"></i>
                    </span>
                    <a href="/partnerships">Partner with us</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-3">
            <div class="content">
              <p
                class="has-text-weight-bold is-size-7"
                style="margin-top: 20px"
              >
                Legal
              </p>
              <ul class="no-lst is-size-8">
                <li>
                  <a href="/privacy" target="_blank"> Privacy Policy </a>
                </li>
                <li>
                  <a href="https://opensource.org/license/mit" target="_blank">
                    MIT License
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
