<div>
  <div class="container-fluid has-background-white is-relative is-bottom-cta">
    <div class="has-background-wheel"></div>
    <div class="container py-7">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <div class="content is-normal has-text-centered">
            <img
              src="./assets/images/logo-peacock.svg"
              width="64"
              height="98"
              alt="Manifest logo"
            />
            <h3 class="title is-3 mt-4">Start building with Manifest</h3>
            <p>Need your MVP up and running in minutes? Start now!</p>
          </div>
        </div>
        <div class="column is-6-tablet is-offset-3">
          <div
            class="content is-normal is-flex is-align-items-center is-justify-content-center box-main-cta is-flex-direction-column"
          >
            <app-copy-button></app-copy-button>
            <div
              class="content is-normal mb-5 is-flex is-align-items-center is-justify-content-center box-main-cta"
            >
              <a class="button is-dark is-small" href="/docs" target="_blank">
                <span>Get started</span>
              </a>
              <a
                class="button is-white is-small"
                href="https://github.com/mnfst/manifest"
                target="_blank"
              >
                <span class="icon">
                  <i class="fa fa-star has-text-warning"></i>
                </span>
                <span>Give a star</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer
    class="footer has-background-white-bis has-text-dark pb-4 has-border-top"
  >
    <div class="container">
      <div>
        <div class="columns is-multiline">
          <div class="column is-3">
            <div class="content">
              <p class="has-text-weight-bold is-size-6">resources</p>
              <ul class="no-lst">
                <li>
                  <a href="https://manifest.build/docs" target="_blank">
                    Developer Docs
                  </a>
                </li>
                <li>
                  <a
                    href="https://github.com/mnfst/manifest/blob/master/CONTRIBUTING.md"
                    target="_blank"
                  >
                    Contributor Docs
                  </a>
                </li>
                <li>
                  <a href="/faq">FAQ</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="column is-3">
            <div class="content">
              <p class="has-text-weight-bold is-size-6">Community</p>
              <ul class="no-lst">
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fab fa-github is-size-6"></i>
                    </span>
                    <a href="https://github.com/mnfst/manifest" target="_blank">
                      GitHub
                    </a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fab fa-discord is-size-6"></i>
                    </span>
                    <a href="https://discord.gg/FepAked3W7" target="_blank">
                      Discord
                    </a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-comments is-size-6"></i>
                    </span>
                    <a
                      href="https://github.com/mnfst/manifest/discussions"
                      target="_blank"
                      width="64"
                      height="98"
                    >
                      Discussions
                    </a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-heart is-size-6"></i>
                    </span>
                    <a href="/sponsors">Sponsor Manifest</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-3">
            <div class="content">
              <p class="has-text-weight-bold is-size-6">More</p>
              <ul class="no-lst">
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-plug is-size-6"></i>
                    </span>
                    <a href="/integrations">Integrations</a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-image is-size-6"></i>
                    </span>
                    <a href="/brand-assets">Brand assets</a>
                  </span>
                </li>
                <li>
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-regular fa-handshake is-size-6"></i>
                    </span>
                    <a href="/partnerships">Partner with us</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-3">
            <div class="content">
              <p class="has-text-weight-bold is-size-6">Manifest Cloud</p>
              <p>Subscribe to the waitlist to know when it is out.</p>
              <app-waiting-list-form></app-waiting-list-form>
            </div>
          </div>
          <div class="column is-12">
            <div class="separator"></div>
          </div>
          <div class="column is-6">
            <img
              src="./assets/images/logo-transparent.svg"
              width="180"
              height="50"
              alt="logo of manifest"
              class="footer-logo"
              loading="lazy"
            />
          </div>
          <div
            class="column is-6 has-text-right is-align-items-center is-flex is-justify-content-flex-end"
          >
            <a class="is-underlined" href="/privacy"> Privacy policy </a>
            <span class="mx-4 has-text-grey-lighter">•</span>
            <span>
              Source code licensed
              <a
                class="is-underlined"
                href="https://opensource.org/license/mit"
                target="_blank"
              >
                MIT
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
