<div class="hero">
  <div class="hero-body has-background-bis has-border-bottom">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title is-2">Backend Templates</h1>
          <p>
            Templates are ready-to-use 1-file backends. They give you a working
            backend so you can focus on the frontend and deliver your MVPs in no
            time.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section has-background-white pt-5">
  <div class="container mt-1">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="columns">
          <div class="column is-12">
            <div class="columns is-multiline">
              <div class="column is-3" *ngFor="let template of templates">
                <app-template-card
                  [template]="template"
                  theme="light"
                ></app-template-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
