<div class="hero">
  <div class="hero-body has-background-bis has-border-bottom">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title is-2">Backend Templates</h1>
          <p>
            Templates are ready-to-use 1-file backends. They give you a working
            backend so you can <strong>focus on the frontend</strong> and
            <strong>deliver your MVPs</strong> in no time.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section has-background-white pt-5">
  <div class="container mt-1">
    <div class="columns is-multiline">
      @if (loading) {
      <div class="column is-4">
        <div class="skeleton-block"></div>
      </div>
      <div class="column is-4">
        <div class="skeleton-block"></div>
      </div>
      <div class="column is-4">
        <div class="skeleton-block"></div>
      </div>
      } @else if (templates.length > 0) { @for (template of templates; track
      template.id; let idx = $index) {
      <div class="column is-4">
        <app-template-card
          [template]="template"
          theme="light"
        ></app-template-card>
      </div>
      } } @else {
      <div class="column is-12">
        <p>No templates found</p>
      </div>
      }
    </div>
  </div>
</div>
