<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title is-1">{{ content.h1 }}</h1>
    </div>
  </div>

  <!-- TODO: Images for framework: use {{ framework }} variable to determine which image to use -->

  <div class="columns">
    <div class="column">
      <div [innerHTML]="bodyHtml"></div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <p>
        <a [href]="content.ctaLink" class="button is-primary" target="_blank">{{
          content.cta
        }}</a>
      </p>
    </div>
  </div>
</div>
