<app-header></app-header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>

<div class="card card--donation is-bordered">
  <a href="https://forms.gle/bbEeTHagNtXhnye48" class="ghost has-text-dark">
  <div class="card-content has-text-centered">
    <div class="content">
      <p class="has-text-weight-bold is-size-4 mb-0">
        👉 Survey: Backend Challenges 👈
      </p>
      <p class="has-text-weight-bold is-size-5">
        <span>Take 3 minutes, generate 3€ donation</span></p>
      <img class="px-4" src="./../assets/images/logos-techfugees.svg" alt="logo donation techfugees" style="max-width:100%"/>
    </div>
  </div>
</a>
</div>
