// Buttons
$control-border-width: 1px !default;
$button-hover-color: $link !default;
$button-padding-horizontal: 1.024em !default;
$radius: 4px !default;
$control-height: 2.75em !default;
$control-inputs-height: 2.75em !default;
$control-shadow-secondary: 0 6px 16px 0 rgba($primary, 0.2) !default;
$size-small: 1.28rem !default;
$size-normal: 1.6rem !default;
$size-medium: 2rem !default;
$size-large: 2rem !default;



// Custom variables
$perimeter: 3.5rem !default;
$perimeter-small: 2.8rem !default;
$perimeter-medium: 4.6rem !default;
$perimeter-large: 5.8rem !default;
