// Buttons
$control-border-width: 1px !default;
$button-hover-color: $link !default;
$button-padding-horizontal: 2.6em !default;
$radius: 5px !default;
$control-height: 2.75em !default;
$control-inputs-height: 2.75em !default;
$control-shadow-secondary: 0 6px 16px 0 rgba($primary, 0.2) !default;
$size-small: 1.36rem !default;
$size-normal: 1.7rem !default;
$control-line-height: 1 !default;
$size-medium: 2.125rem !default;
$size-large: 2.656rem !default;

// Custom variables
$perimeter: 3.5rem !default;
$perimeter-small: 2.8rem !default;
$perimeter-medium: 4.6rem !default;
$perimeter-large: 5.8rem !default;
