// Buttons
$control-border-width: 1px !default;
$button-border-width: 1px !default;
$button-hover-color: $danger !default;
$button-padding-vertical: calc(0.5em - #{$button-border-width}) !default;
$button-padding-top: calc(0.5em - #{$button-border-width}) !default;
$button-padding-bottom: 0.5em !default;
$button-padding-horizontal: 1.38em !default;
$radius: 2px !default;
$control-shadow-secondary: 0 6px 16px 0 rgba($primary, 0.2) !default;
$control-height: 2.589em !default;

// Custom variables
$perimeter: 4.4rem !default;
$perimeter-small: 3.52rem !default;
$perimeter-medium: 4.4rem !default;
$perimeter-large: 5.502rem !default;
