




$black: #161616 !default;
$darkness: $black !default; // Some titles
$black-bis: #1c1c1c !default;
$dark: #232323 !default;
$black-ter: #282828 !default;
$grey-darker: #363636 !default;
$grey-dark: #505050 !default;
$grey: #7e7e7e !default;
$grey-light: #a0a0a0 !default;
$grey-lighter: #ededed !default;
$light: #f1f3f5 !default;
$white-ter: #f8f9fa !default;
$white-bis: #fbfcfd !default;
$light-bis: $white-bis !default; // Sheet
$white: #fff !default;

$success: #23f0c3 !default;
$link: #c6ff73 !default;
$info: #549cde !default;
$primary: #8448f8 !default;
$danger: #ff006e !default;
$sun: #fb5607 !default;
$warning: #ffbe0b !default;

$success-light: #e9fef9 !default;
$link-light: #edf4e8 !default;
$info-light: #eef5fc !default;
$primary-light: #f3edfe !default;
$danger-light: #ffe5f0 !default;
$sun-light: #ffeee6 !default;
$warning-light: #fff8e8 !default;


$success-dark: #10b692 !default;
$link-dark: #a5e643 !default;
$info-dark: #2c71b0 !default;
$primary-dark: #551fc1 !default;
$danger-dark: #b3004e !default;
$sun-dark: #ad3700 !default;
$warning-dark: #c79200 !default;

$border-color: $grey-lighter !default;

// Additional values

$link-alpha10: rgba($link, 0.1) !default;
$link-alpha07: rgba($link, 0.07) !default;
$link-alpha03: rgba($link, 0.03) !default;

$color-stroke-gradient: linear-gradient(to bottom, #23f0c3 0%,#8448f8 100%);

@mixin effect-style-website-shadow-1() {
	box-shadow: 0px 3px 16px #102326;
}
@mixin effect-style-website-shadow-2() {
	box-shadow: 0px 1px 60px #5065ff;
}
@mixin effect-style-website-shadow-3() {
	box-shadow: 0px 3px 44px #000000;
}
