$black: #121212 !default; // Overload
$white: #fff !default; // Overload

$dark: $black !default; // Overload
$light: $white !default; // Overload

$black-bis: $dark !default;
$black-ter: #102326 !default;
$grey-darker: $dark !default;
$grey-dark: #3B3638;
$grey: #7E7D7E !default;
$grey-light: #D1D5DB !default;
$grey-lighter: #e9eeff !default;
$white-ter: #f7f7f7 !default;
$white-bis: #f5f7f9 !default;

/* Color styles */


$primary: #6B29B0 !default;
$primary--90: #793DB7 !default;
$primary--10: #F0EAF7 !default;
$primary--05: #F8F4FB !default;

$info: #FBF0CC !default;

$link: #01C5FD !default;
$link--10: #E6F9FF !default;
$link--05: #F2FCFF !default;

$success: #25AE90 !default;
$success--90: #25AE90 !default;
$success--05: #F4FBFA !default;
$success--10: #E9F7F4 !default;

$warning: #FFB61B !default;
$warning--90: #FEBC31 !default;
$warning--10: #FFF8E8 !default;
$warning--05: #FFFBF4 !default;

$danger: #F5576A !default;
$danger--90: #F66879 !default;
$danger--10: #FEEEF0 !default;
$danger--05: #FFF7F8 !default;

$orange: #F5804E !default;

$border-color: $grey-lighter !default;

// Additional values

$main-background: $white-bis !default;
$border-color-input: $primary--10 !default;
