// generic
$shadow: 0px 1px 3px rgba($dark, 0.1), 0px 1px 2px rgba($dark, 0.06) !default;
$border-color: $border !default;
$radius-large: 4px !default;

// Body
$body-size: 10px !default;
$body-size-touch: 10.22px !default;
$body-size-mobile: 7.8px !default;

$body-background-color: $black !default;
$body-color: $white !default;

$hr-background-color: $grey-light !default;
$hr-height: 1px;
$hr-margin: 3.2rem 0 !default;

$body-line-height: 1.8 !default;
$footer-height: 76px !default;
$footer-padding: 3rem 1.5rem !default;

$pre-background: $dark !default;
$pre-padding: $column-gap  $gap !default;
