// Grid
$gap: 32px !default;
$column-gap: 16px !default;

// Breakpoints
$small-mobile: 375px !default;
$tablet: 768px !default;
$desktop: 1008px !default;
$widescreen: 1284px !default;
$fullhd: 1592px !default;
$retina: 1592px !default;
