// Grid
$gap: 48px !default;
$column-gap: 24px !default;

// Breakpoints
$small-mobile: 375px !default;
$tablet: 768px !default;
$desktop: 1000px !default;
$widescreen: 1188px !default;
$fullhd: 1536px !default;
$retina: 1536px !default;
