$tabs-border-bottom-color: $white-bis !default;
$tabs-link-padding: 0.25em 1.25em 0.1em !default;
$tabs-border-bottom-width: 2px !default;

$tabs-toggle-link-active-background-color: $grey-darker !default;
$tabs-toggle-link-active-border-color: rgba($grey-light, .2) !default;
$tabs-toggle-link-active-color: $white !default;

$tabs-toggle-link-border-color: rgba($grey-light, .2) !default;
$tabs-toggle-link-background-color: $dark !default;

$tabs-toggle-link-hover-background-color: $grey-darker !default;
$tabs-toggle-link-hover-border-color: rgba($grey-light, .2) !default;
$tabs-toggle-link-background-color: $dark !default;

$tabs-boxed-link-active-background-color: $light !default;
$tabs-boxed-link-active-border-color: $light !default;
$tabs-boxed-link-active-color: $light !default;

$tabs-boxed-link-border-color: $white !default;
$tabs-boxed-link-background-color: $white !default;

$tabs-boxed-link-hover-background-color: $light !default;
$tabs-boxed-link-hover-border-color: $light !default;
$tabs-boxed-link-background-color: $dark !default;

$tabs-boxed-link-border-width: 0 !default;
$tabs-border-bottom-width: 0 !default;
