$tooltip-animation-duration: .3s !default;
$tooltip-animation-transition-timing-function: ease-in-out !default;
$tooltip-background-color: $grey-dark !default;
$tooltip-background-opacity: 0.95 !default;
$tooltip-font-family: $family-sans-serif !default;
$tooltip-font-size: $size-6 !default;
$tooltip-max-width: 270px !default;
$tooltip-padding: 1.6rem 2.4rem !default;
$tooltip-radius: 5px !default;
$tooltip-z-index: 9999 !default;
