// Typography
$family-sans-serif: 'Hind', sans-serif !default;
$family-monospace: 'Hind', sans-serif !default;
$family-alt: 'Rubik', sans-serif !default;

$size-1: 5.188rem !default;
$size-2: 4.15rem !default;
$size-3: 3.32rem !default;
$size-4: 2.656rem !default;
$size-5: 2.125rem !default;
$size-6: 1.7rem !default;
$size-7: 1.36rem !default;
$size-8: 1.088rem !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 !default;

$size-1-touch: 3.32rem !default;
$size-2-touch: 2.656rem !default;
$size-3-touch: 2.125rem !default;
$size-4-touch: 1.7rem !default; 

$title-size: $size-1 !default;
$subtitle-size: $size-2 !default;

$title-weight: 700 !default;

$subtitle-weight: 400 !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-bold: 700 !default;
$weight-black: 700 !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-6 !default;
$size-large: $size-5 !default;

// Custom variables
$list-style: initial !default;
$list-ml: 2em !default;
$list-mt: 1em !default;
$list-mb: 1em !default;
