<div class="is-relative">
  <div
    class="is-absolute is-fullwidth is-fullheight has-bg-gradient"
    style="pointer-events: none"
  >
    <img src="./../assets/images/gradient.svg" alt="" />
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-10-tablet is-offset-1-tablet">
            <h1 class="title is-1">Develop a CRUD web app in 15 minutes</h1>
            <h2 class="subtitle">
              Forget about frameworks, forms, controllers and databases. CASE
              eliminates 95% of the work to let you focus on your data.
            </h2>
            <div class="is-flex is-justify-content-center">
              <div
                class="is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start npx-wrapper"
              >
                <div
                  class="has-border-radius is-flex is-full-height isalign-items-stretch is-family-code p-0 has-background-dark has-text-light"
                >
                  <span class="px-4 py-2 install-code">
                    npx create-case-app my-case-app
                  </span>
                  <a
                    (click)="copyToClipboard()"
                    (keyup)="copyToClipboard()"
                    tabindex="0"
                    class="icon-text has-background-grey-darker px-4 py-2 is-flex is-align-items-center has-text-white is-relative"
                  >
                    <span class="icon">
                      <i class="icon icon-copy"></i>
                    </span>
                    <span
                      class="is-inline-flex is-flex-direction-column is-relative is-hidden-touch"
                    >
                      <span
                        class="button-copy"
                        [ngClass]="{ 'has-been-copied': isCopied }"
                        >Copy</span
                      >
                      <span
                        [ngClass]="{ 'is-active': isCopied }"
                        class="is-copied"
                        >Copied !</span
                      >
                    </span>
                  </a>
                </div>
                <p class="content is-small has-text-weight-bold">11 files</p>
              </div>
            </div>

            <div class="buttons is-justify-content-center mt-4">
              <a
                class="button is-white"
                target="_blank"
                href="https://docs.case.app/install"
              >
                Get started
              </a>

              <div class="dropdown is-active is-hidden-desktop">
                <div class="dropdown-trigger">
                  <button
                    class="button is-danger"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    (click)="isDemoMenuOpen = !isDemoMenuOpen"
                    #demoButton
                  >
                    <span class="icon is-small">
                      <i class="fa-solid fa-desktop" aria-hidden="true"></i>
                    </span>
                    <span>Live demo</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div
                  class="dropdown-menu"
                  id="dropdown-menu"
                  role="menu"
                  *ngIf="isDemoMenuOpen"
                >
                  <div class="dropdown-content">
                    <a
                      class="dropdown-item has-text-dark"
                      target="_blank"
                      href="https://demo2.case.app/auth/login?email=user1@case.app&password=case"
                    >
                      Invoicing app
                    </a>
                    <a
                      target="_blank"
                      href="https://demo3.case.app/auth/login?email=user1@case.app&password=case"
                      class="dropdown-item has-text-dark"
                    >
                      Project management app
                    </a>
                    <a
                      target="_blank"
                      href="https://demo1.case.app/auth/login?email=user1@case.app&password=case"
                      class="dropdown-item has-text-dark"
                    >
                      HR dashboard
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="is-flex is-align-items-center is-justify-content-center mt-2 wwt"
            >
              <span
                style="position: relative; top: 6px"
                class="content is-small my-0"
              >
                Works with :
              </span>
              <img
                src="./assets/images/typescript-logo.svg"
                alt=""
                width="94"
                style="position: relative; top: 4px"
                class="ml-1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-featured">
    <div class="container py-6-mobile">
      <div class="columns">
        <div class="column is-12 has-text-centered">
          <figure class="main-pic">
            <img
              src="./../../../assets/images/casejs-list.svg"
              alt=""
              class="is-fullwidth has-border-radius"
            />
            <div class="blurred blurred-left"><div></div></div>
            <div class="blurred blurred-right"><div></div></div>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section is-medium">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/ui-ready.svg" alt="" />
          <h5 class="mt-2">Frameworkless</h5>
          <p>Architecture is about intent, not frameworks</p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/open.svg" alt="" height="67px" />
          <h5 class="mt-2">Bring your own packages</h5>
          <p>Attach your own custom logic to CRUD events</p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/no-learn.svg" alt="" />
          <h5 class="mt-2">Profesional UI</h5>
          <p>Ready-to-go UI components and layouts for your users</p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/end-to-end-result.svg" alt="" />
          <h5 class="mt-2">Lightning fast</h5>
          <p>Instant setup, development, and deployment</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-relative">
  <div class="container versus">
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2">
        <div class="content is-size-5">
          <h2>Why CASE ?</h2>
          <p>
            Apps take time to develop, and that often involves a lot of 
            repetitive work. CASE doesn't expect you to be an expert at
            both configuring databases and designing an intuitive UX. CASE 
            will handle this for you.
          </p>
          <p>
            CASE makes deploying CRUD (“Create-Read-Update-Delete”) applications 
            easy for developers: your ERPs, CRMs, admin panels, dashboards, and 
            other internal tools can be ready in minutes.
          </p>
          <h2>An ORM on steroids 💪</h2>
          <p>
            ORMs allow developers to focus on their data by automating the process
            of dealing with databases and their implementations.
            <strong class="is-highlighted">
              CASE takes this concept further by generating an entire applications 
              from data: describe your data, and CASE will handle the rest.
            </strong>
          </p>
        </div>
      </div>

      <div class="column is-12">
        <img
          src="./../../../assets/images/cat-entity.svg"
          alt=""
          class="is-fullwidth is-bordered"
        />
      </div>
      <div class="column is-8 is-offset-2">
        <div class="content is-size-5">
          <p>
            CASE is built on TypeORM. If you've used ORMs like TypeORM,
            Prisma or Sequelize, building your first CASE app will be a breeze.
          </p>
        </div>
      </div>
      <div class="column is-8 is-offset-2">
        <div class="content is-size-5">
          <h3>
            The holy trinity of views: <br />

            <span class="tag is-size-3 is-light is-rounded">📋 list</span>
            ,
            <span class="tag is-size-3 is-light is-rounded"
              >✏️ create/edit</span
            >
            & <span class="tag is-size-3 is-light is-rounded">🖼️ detail</span>
          </h3>
          <p>
            Most CRUD apps are built on these three common views. CASE follows that pattern by giving you a rich set of pre-configured elements for
            each.
          </p>
        </div>
      </div>

      <div class="column is-12">
        <img
          src="./../../../assets/images/trinity.svg"
          alt=""
          class="is-fullwidth"
        />
      </div>
      <div class="column is-8 is-offset-2">
        <div class="content is-size-5">
          <h2>Should I use CASE?</h2>
          <p>
            CASE can save enormous amounts of time when creating CRUD applications, but also comes with limitations with regards to customization.
          </p>

          <h5>CASE offers you:</h5>
          <ul>
            <li>
              ✅ A professional UI for your list, create/edit, and detail views 
            </li>
            <li>
              ✅ Choices from a rich list of form elements for collecting data
              (inputs) and displaying it (yields)
            </li>
            <li>
              ✅ Hooks for your own custom logic, along with third-party packages,
              for entity and CRUD events (onCreate, onDelete, etc.) 
            </li>
          </ul>
          <h5>CASE is NOT for you if:</h5>
          <ul>
            <li>
              ❌ Your app workflow does not follow the list-create/edit-detail
              pattern
            </li>
            <li>
              ❌ Your app needs a lot of custom behaviour or UI elements
            </li>
          </ul>
          <h2>
            How does CASE compare with other solutions?
          </h2>
        </div>
        <div class="columns is-multiline mb-4 mt-6">
          <div class="column is-12-touch is-6-desktop col-left">
            <div class="card is-fullheight is-bordered is-shadowless">
              <div class="card-content is-fullheight p-4">
                <div class="content is-size-5">
                  <div
                    class="illu illu-nipple has-background-warning-light is-bordered"
                  >
                    <img src="./../../../assets/images/nipple.png" alt="" />
                  </div>
                  <h3 class="title is-4 mb-2">
                    <span>CASE </span>
                    <em>VS </em>
                    <span>app builders, no-code, or low-code</span>
                  </h3>
                  <p>
                    CASE skips the step of drag-and-drop and visual database builders with instant, all-in-one, deploy-ready applications.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12-touch is-6-desktop col-right">
            <div class="card is-fullheight is-bordered is-shadowless">
              <div class="card-content is-fullheight p-4">
                <div class="content is-size-5">
                  <div
                    class="illu illu-pisa has-background-warning-light is-bordered"
                  >
                    <img src="./../../../assets/images/pisa.png" alt="" />
                  </div>
                  <h3 class="title is-4 mb-2">
                    <span>CASE </span><em>VS </em>
                    <span>lib, packages, frameworks, boilerplates</span>
                  </h3>
                  <p>
                    CASE is meant to be simple. No snowballing complexity, no technical debt.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content is-size-5">
          <h2>Use cases</h2>
          <p>CASE is desgined to build CRUD applications. Here are a few examples:</p>

          <ul>
            <li>
              <strong class="is-highlighted">Custom web applications</strong>
              for businesses like, ERPs,  invoicing apps, project management
              apps, HR apps, or logistics tools
            </li>
            <li>
              <strong class="is-highlighted">PoC applications</strong> where you
              need to quickly develop and showcase features
            </li>
            <li>
              <strong class="is-highlighted">Internal tools</strong> like admin
              panels, CRMs, APIs or content management systems
            </li>
          </ul>
          <h2>What's next?</h2>
          <p>
            CASE is a young project. Today, our main goal is to receive feedback
            from enthusiasts and developers as we continue to grow our community.
          </p>
          <p class="has-text-right">The CASE team</p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2">
        <h2 class="title is-2 mb-2">Join our community</h2>
        <p>
          CASE is still in its infancy, and has lofty goals for the future. If
          the project excites you, please give us a hand!
        </p>
      </div>
      <div class="column is-12-touch is-12-desktop is-5-widescreen">
        <div class="card is-fullheight has-background-dark is-shadowless">
          <div class="card-content p-4 star-us">
            <h3
              class="title is-5 mb-3 is-inline-flex is-align-items-flex-start has-icon-left is-fullwidth has-text-light"
            >
              <span class="is-inline-flex"
                ><img src="./assets/images/star.svg" alt="" class="card-icon"
              /></span>
              <span class="is-inline-flex">Star us on Github </span>
            </h3>

            <a
              class="button is-light"
              target="_blank"
              href="https://github.com/casejs/case"
            >
              <span class="icon">
                <i class="fa-brands fa-github is-rounded"></i>
              </span>
              <span>GitHub</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div
          class="card is-fullheight has-background-white is-bordered is-shadowless"
        >
          <div class="card-content is-fullheight p-4">
            <h3
              class="title is-5 mb-3 is-inline-flex is-align-items-flex-start has-icon-left is-fullwidth"
            >
              <span class="is-inline-flex">Share ideas and upvote others</span>
            </h3>

            <a
              class="button is-dark"
              target="_blank"
              href="https://github.com/casejs/case/discussions"
            >
              <span class="icon">
                <i class="fa-brands fa-github is-rounded"></i>
              </span>
              <span>Discussions</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div
          class="card is-fullheight has-background-white is-bordered is-shadowless"
        >
          <div class="card-content is-fullheight p-4">
            <h3 class="title is-5 mb-3">Get help from the community</h3>
            <a
              class="button is-primary"
              target="_blank"
              href="https://discord.com/invite/FepAked3W7"
            >
              <span class="icon">
                <i class="fa-brands fa-discord is-rounded"></i>
              </span>
              <span>Discord</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
