<section class="hero is-black is-large ">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-10-tablet is-offset-1-tablet">                    
                    <h1 class="title is-1">
                        Develop <span class="has-text-link">quickly</span> and <span class="has-text-link">easily</span>
                        fantastic custom business applications.
                    </h1>
                    <h2 class="subtitle">
                        CASE est un framework qui permet aux développeurs de concevoir facilement et rapidement des applications métiers solides, fiables et intuitves.            
                    </h2>
                    <div class="buttons is-justify-content-center">
                        <button class="button is-link">Get started</button>
                    </div>
                    <p class="content is-small mb-1 mt-2">Work with:</p>
                    <div class="is-flex is-align-items-center is-justify-content-center">
                        <img class="mx-2" src="./assets/images/angular.svg" alt="">
                        <img class="mx-2" src="./assets/images/nestjs.svg" alt="">
                        <img class="mx-2" src="./assets/images/typeorm.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pb-8">
        <div class="columns">
            <div class="column is-6">
                <div class="terminal">
                    <pre>
                    <div class="is-flex is-align-items-center is-justify-content-space-between has-text-grey-light ">
                        <span class="icon-text content is-small has-text-grey-light mb-0">
                            <span class="icon">
                                <i class="fa-solid fa-terminal is-size-7"></i>
                            </span>
                            <span class="is-uppercase">terminal</span>
                        </span>
                        <div class="is-flex is-align-items-center is-justify-content-flex-end">
                            <i class="fa-solid fa-angle-down is-size-7"></i>
                            <i class="fa-solid fa-ellipsis is-size-7 ml-2"></i>
                            <i class="fa-solid fa-xmark is-size-7 ml-2"></i>
                        </div>
                    </div>
<code><span class="has-text-link">cs generate</span><span> resource paint</span><span class="has-text-grey-light"> --</span>props<span class="has-text-grey-light">=</span>title<span class="has-text-grey-light">,</span>painter<span class="has-text-grey-light">,</span>value:currency<span class="has-text-grey-light">,</span>artwork:image</code>
                    </pre>
                </div>
            </div>
            <div class="column is-6">
                <figure style="height:500px; width: 100%">
                    <img class="is-object-fit-contain" src="https://picsum.photos/1000" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-8 pb-8">
        <div class="columns is-multiline">
            <div class="column is-9">
                <div class="content ">
                    <h2 class="title is-2 has-text-white">Ce qu’apporte CASE / Pourquoi se permet-on de dire que tu vas développer rapidement et facilement une webapp ? Preuve</h2>
                </div>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-3">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-background-dark p-3">
                            <i class="fas fa-home has-text-link"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <h5 class="mt-2 has-text-light">Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="column is-3">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-background-dark p-3">
                            <i class="fas fa-home has-text-link"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <h5 class="mt-2 has-text-light">Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="column is-3">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-background-dark p-3">
                            <i class="fas fa-home has-text-link"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <h5 class="mt-2 has-text-light">Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                      </div>
                    </div>
                  </article>
            </div>
            <div class="column is-3">
                <article class="media">
                    <figure class="media-left">
                        <span class="icon has-background-dark p-3">
                            <i class="fas fa-home has-text-link"></i>
                        </span>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <h5 class="mt-2 has-text-light">Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                      </div>
                    </div>
                  </article>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-8 pb-8">
        <div class="columns is-multiline">
            <div class="column is-10-tablet is-offset-1-tablet has-text-centered">
                <div class="content ">
                    <h2 class="title is-2 has-text-white">FAQ</h2>
                </div>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-10-tablet is-8-desktop is-offset-1-tablet is-offset-2-desktop">

            </div>
        </div>
    </div>
</section>
