@import '../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';


.has-bg-gradient {
  top: -1200px;

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: unset;
    width: unset;
    max-width: unset;
  }
}

.bg-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.versus {
  em {
    margin-right: 4px;
    color: $warning;
    -webkit-text-stroke: .5px black;

  }
}

figure.main-pic {
  position: relative;

  img {
    position: relative;
    z-index: 1;
    border: 1px solid $border-color;
    border-radius: 24px;
  }
}

.blurred {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 65.93%;
  height: 86.36%;

  div {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 0.8;
    filter: blur(15px);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    filter: blur(45px);
    will-change: transform;
  }

  &-left {
    left: 36px;

    div {
      background: $primary;
    }
  }

  &-right {
    right: 36px;

    div {
      background: $success;
    }
  }
}

.buttons .button {
  z-index: 1;
}

.npx-wrapper {
  position: relative;

  .is-copied {
    position: absolute;
    opacity: 0;

    &.is-active {
      @extend .slideInUp;
    }
  }

  .button-copy {
    opacity: 1;

    &.has-been-copied {
      @extend .slideOutUp;
    }
  }
}

.button-copy,
.is-copied {
  display: inline-block;
  min-width: 81px;
  white-space: nowrap;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}



.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}

.wwt {
  mix-blend-mode: luminosity;
  white-space: nowrap;
}

.install-code {
  white-space: nowrap;

  @include touch {
    font-size: $size-7;
  }
}

.has-icon-left {
  --star-width: 24px;
  --star-margin: 9px;

  span:first-child {
    margin-right: var(--star-margin);
    width: var(--star-width);
  }

  span:last-child {
    width: calc(100% - var(--star-width));
  }

  .card-icon {
    position: relative;
    top: -2px;
  }
}

.star-us {
  background-image: url('/assets/images/stars.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 100% 55%;
}

.illu {
  position: absolute;
  top: -48px;
  left: $gap;
  border-radius: $radius-large;
  height: 96px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 67%;
    height: auto;
  }

}

.col-left {
  @include touch {
    padding-top: 3rem;
  }
}

.col-right {
  @include touch {
    padding-top: 7rem;
  }
}


// svg animation

$width-emails: 219px !default;
$width-positions: 178px !default;

$avatar-x-01: -404px !default;
$avatar-x-02: -224px !default;
$avatar-x-03: 0 !default;

$button-x-01: -398px !default;
$button-x-02: -219px !default;
$button-x-03: 0 !default;

$duration-scale: 6s !default;
$delay-scale: 4.63s !default;

$duration-text: 0.3s !default;
$delay-text: #{$delay-scale + $duration-scale * 0.4} !default;
$animation-text: cubic-bezier(.09, .86, .52, 1.39) !default;

$duration-link: $duration-text !default;
$delay-link: #{$delay-scale + $duration-scale * 0.79  + 1.12s} !default;
$animation-link: $animation-text !default;

.svg-container {
  width: 100%;
  height: 100%;

  > svg {
    width: 100%;
  }
}

#animation-wrapper {
  transform: scale(1);
  transition: all 0.3s ease-out;
  backface-visibility: visible;
  -webkit-animation-name: scale;
  animation-name: scale;
  -webkit-animation-duration: $duration-scale;
  animation-duration: $duration-scale;
  -webkit-animation-delay: $delay-scale;
  animation-delay: $delay-scale;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

#col-emails {
  transform: translateX(#{-1 * $width-emails});

  transition: all 0.3s ease-in-out;
  -webkit-animation-name: emails-displayed;
  animation-name: emails-displayed;
  -webkit-animation-duration: $duration-scale;
  animation-duration: $duration-scale;
  -webkit-animation-delay: $delay-scale;
  animation-delay: $delay-scale;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;

  .text-dark {
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: text-dark;
    animation-name: text-dark;
    -webkit-animation-duration: $duration-text;
    animation-duration: $duration-text;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: $animation-text;
    animation-timing-function: $animation-text;

    @for $i from 1 through 10 {
      &-#{$i} {
        -webkit-animation-delay: calc(#{$i * 0.02s} + #{$delay-text});
        animation-delay: calc(#{$i * 0.02s} + #{$delay-text});
      }
    }
  }
}

#col-positions {
  transform: translateX(#{-1 * $width-positions});
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-animation-name: positions-displayed;
  animation-name: positions-displayed;
  -webkit-animation-duration: $duration-scale;
  animation-duration: $duration-scale;
  -webkit-animation-delay: $delay-scale;
  animation-delay: $delay-scale;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;

  .text-link {
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: text-link;
    animation-name: text-link;
    -webkit-animation-duration: $duration-link;
    animation-duration: $duration-link;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: $animation-link;
    animation-timing-function: $animation-link;

    @for $i from 1 through 10 {
      &-#{$i} {
        -webkit-animation-delay: calc(#{$i * 0.02s} + #{$delay-link});
        animation-delay: calc(#{$i * 0.02s} + #{$delay-link});
      }
    }
  }
}

#col-ends {
  transform: translateX(#{-1 * $width-positions - $width-emails});
  transition: all 0.3s ease-in-out;
  -webkit-animation-name: col-ends-x;
  animation-name: col-ends-x;
  -webkit-animation-duration: $duration-scale;
  animation-duration: $duration-scale;
  -webkit-animation-delay: $delay-scale;
  animation-delay: $delay-scale;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

#header-right-part {
  transform: translateX(#{$avatar-x-01});
  transition: all 0.3s ease-in-out;
  -webkit-animation-name: avatar-x;
  animation-name: avatar-x;
  -webkit-animation-duration: $duration-scale;
  animation-duration: $duration-scale;
  -webkit-animation-delay: $delay-scale;
  animation-delay: $delay-scale;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

#button {
  transform: translateX(#{$button-x-01});
  transition: all 0.3s ease-in-out;
  -webkit-animation-name: button-x;
  animation-name: button-x;
  -webkit-animation-duration: $duration-scale;
  animation-duration: $duration-scale;
  -webkit-animation-delay: 4.63s;
  animation-delay: 4.63s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}


@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  79% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    -webkit-transform: scale(.6567);
    transform: scale(.6567);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  79% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    -webkit-transform: scale(.6567);
    transform: scale(.6567);
  }
}



@-webkit-keyframes emails-displayed {
  0% {
    -webkit-transform: translateX(#{-1 * $width-emails});
    transform: translateX(#{-1 * $width-emails});


  }

  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);

  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);

  }
}

@keyframes emails-displayed {
  0% {
    -webkit-transform: translateX(#{-1 * $width-emails});


    transform: translateX(#{-1 * $width-emails});

  }

  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);

  }

  100% {
    -webkit-transform: translateX(0);

    transform: translateX(0);
  }
}


@-webkit-keyframes positions-displayed {
  0% {
    -webkit-transform: translateX(#{-1 * $width-positions});
    transform: translateX(#{-1 * $width-positions});
    opacity: 0;

  }

  40% {
    -webkit-transform: translateX(#{-1 * $width-positions});
    transform: translateX(#{-1 * $width-positions});
    opacity: 1;
  }

  79% {
    -webkit-transform: translateX(#{-1 * $width-positions});
    transform: translateX(#{-1 * $width-positions});
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;

  }
}

@keyframes positions-displayed {
  0% {
    -webkit-transform: translateX(#{-1 * $width-positions});
    transform: translateX(#{-1 * $width-positions});
    opacity: 0;
  }

  40% {
    -webkit-transform: translateX(#{-1 * $width-positions});
    transform: translateX(#{-1 * $width-positions});
    opacity: 1;
  }

  79% {
    -webkit-transform: translateX(#{-1 * $width-positions});
    transform: translateX(#{-1 * $width-positions});
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes col-ends-x {
  0% {
    -webkit-transform: translateX(#{-1 * $width-positions - $width-emails});
    transform: translateX(#{-1 * $width-positions - $width-emails});
  }

  40% {
    -webkit-transform: translateX(#{-1 * $width-emails});
    transform: translateX(#{-1 * $width-emails});

  }

  79% {
    -webkit-transform: translateX(#{-1 * $width-emails});
    transform: translateX(#{-1 * $width-emails});

  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);

  }
}

@keyframes col-ends-x {
  0% {
    -webkit-transform: translateX(#{-1 * $width-positions - $width-emails});
    transform: translateX(#{-1 * $width-positions - $width-emails});

  }

  40% {
    -webkit-transform: translateX(#{-1 * $width-emails});
    transform: translateX(#{-1 * $width-emails});

  }

  79% {
    -webkit-transform: translateX(#{-1 * $width-emails});
    transform: translateX(#{-1 * $width-emails});

  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);

  }
}

@-webkit-keyframes button-x {
  0% {
    -webkit-transform: translateX(#{$button-x-01});
    transform: translateX(#{$button-x-01});
  }

  40% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  79% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  100% {
    -webkit-transform: translateX(#{$button-x-03});
    transform: translateX(#{$button-x-03});

  }
}

@keyframes button-x {
  0% {
    -webkit-transform: translateX(#{$button-x-01});
    transform: translateX(#{$button-x-01});

  }

  40% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  79% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  100% {
    -webkit-transform: translateX(#{$button-x-03});
    transform: translateX(#{$button-x-03});

  }
}

@-webkit-keyframes avatar-x {
  0% {
    -webkit-transform: translateX(#{$button-x-01});
    transform: translateX(#{$button-x-01});
  }

  40% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  79% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  100% {
    -webkit-transform: translateX(#{$button-x-03});
    transform: translateX(#{$button-x-03});
  }
}

@keyframes avatar-x {
  0% {
    -webkit-transform: translateX(#{$button-x-01});
    transform: translateX(#{$button-x-01});

  }

  40% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  79% {
    -webkit-transform: translateX(#{$button-x-02});
    transform: translateX(#{$button-x-02});
  }

  100% {
    -webkit-transform: translateX(#{$button-x-03});
    transform: translateX(#{$button-x-03});
  }
}

@-webkit-keyframes text-dark {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes text-dark {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;

  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-link {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }

  79% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;

  }


  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes text-link {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }

  79% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;

  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

svg {
  border: 2px solid $border-color;
  border-radius: $radius-large;
  background-image: url('/assets/images/user-list-v.svg');
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
}
