<div class="is-relative">
  <div class="is-absolute is-fullwidth is-fullheight has-bg-gradient">
    <img src="./../assets/images/gradient.svg" alt="" />
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-10-tablet is-offset-1-tablet">
            <h1 class="title is-1">Develop a CRUD web app in 15 minutes</h1>
            <h2 class="subtitle">
              Forget about frameworks, forms, controllers and databases. CASE
              eliminates 95% of the work to let you focus on your data.
            </h2>
            <div class="is-flex is-justify-content-center">
              <div
                class="is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start"
              >
                <div
                  class="has-border-radius is-flex is-full-height isalign-items-stretch is-family-code p-0 has-background-dark has-text-light"
                >
                  <span class="px-4 py-2">
                    npx create-case-app my-case-app
                  </span>
                  <a
                    class="icon-text has-background-grey-darker px-4 py-2 is-flex is-align-items-center"
                  >
                    <span class="icon">
                      <i class="icon icon-copy"></i>
                    </span>
                    <span>Copy</span>
                  </a>
                </div>
                <p class="content is-small has-text-weight-bold">
                  80KB - 12 files
                </p>
              </div>
            </div>
            <div class="buttons is-justify-content-center mt-4">
              <a
                class="button is-white"
                target="_blank"
                href="https://docs.case.app/#/getting-started/quick-start-guide?id=section-a-create-a-new-project"
              >
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-featured">
    <div class="container py-6-mobile">
      <div class="columns">
        <div class="column is-12 has-text-centered">
          <figure class="main-pic">
            <img
              src="./../../../assets/images/cat-entity.svg"
              alt=""
              class="is-fullwidth has-border-radius"
            />
            <div class="blurred blurred-left"><div></div></div>
            <div class="blurred blurred-right"><div></div></div>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section is-medium">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/ui-ready.svg" alt="" />
          <h5 class="mt-2">Frameworkless</h5>
          <p>Because architecture is about intent, not frameworks.</p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/open.svg" alt="" height="67px" />
          <h5 class="mt-2">Profesional UI</h5>
          <p>Attach your custom logic scripts to entity events.</p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/end-to-end-result.svg" alt="" />

          <h5 class="mt-2">Super fast</h5>
          <p>Ready-to-go UI components and layout for your users.</p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <img src="./../../../assets/images/no-learn.svg" alt="" />
          <h5 class="mt-2">Focus on data, not on ui.</h5>
          <p>Instant setup, development & deploy</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-relative">
  <img
    src="./../../../assets/images/blurred-shape.svg"
    alt=""
    class="is-absolute"
    class="bg-shape"
  />
  <div class="container versus">
    <div class="columns">
      <div class="column is-6">
        <div class="card is-fullheight is-bordered is-shadowless">
          <div class="card-content p-4">
            <div class="content">
              <h3 class="title is-5 mb-2">
                <span>CASE </span>
                <em>VS </em>
                <span>app builder, no-code, low-code</span>
              </h3>
              <p>
                Too many of us already felt trapped in a marketing oriented
                solution. CASE is an open-source tool made by developers for
                developers.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="card is-fullheight is-bordered is-shadowless">
          <div class="card-content p-4">
            <div class="content">
              <h3 class="title is-5 mb-2">
                <span>CASE </span><em>VS </em>
                <span>lib, packages, frameworks, boilerplates</span>
              </h3>
              <p>
                Not a framework over other frameworks, no frameworks at all.  
              </p>
              <p>
                Simplify your stack, implement CASE only for CRUD related
                features.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-10">
        <h2 class="title is-2 mb-2">Join our community</h2>
        <p>
          CASE is still in its early days and has so much room to improve. If
          the project excites you, please give us a hand !
        </p>
      </div>
      <div class="column is-4">
        <div class="card is-fullheight has-background-white-ter is-shadowless">
          <div class="card-content p-4">
            <div class="content">
              <h3 class="title is-5 mb-3">Star us on Github</h3>
              <button class="button is-dark">
                <span class="icon">
                  <i class="fa-brands fa-github is-rounded"></i>
                </span>
                <span>GitHub</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-fullheight has-background-white-ter is-shadowless">
          <div class="card-content p-4">
            <div class="content">
              <h3 class="title is-5 mb-3">Say hello !</h3>
              <button class="button is-primary">
                <span class="icon">
                  <i class="fa-brands fa-discord is-rounded"></i>
                </span>
                <span>Discord</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-fullheight has-background-white-ter is-shadowless">
          <div class="card-content p-4">
            <div class="content">
              <h3 class="title is-5 mb-3">Stay tuned</h3>
              <button class="button is-white">
                <span class="icon">
                  <i class="fa-brands is-size-4 fa-dev is-rounded"></i>
                </span>
                <span>DEV Community</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
