<div class="simple-ide-window">
  <div class="tab-template">
    <div class="tab-ide">
      <i class="fa-solid fa-exclamation has-text-primary-light is-italic"></i>
      <span>manifest.yml</span>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="toolbar has-text-grey">
      <i class="fa-solid fa-ellipsis"></i>
    </div>
  </div>
  <div class="code">
    <pre
      class="p-0"
    ><code #codeBlock class="hljs language-yaml has-text-left is-size-7"></code> </pre>
  </div>
</div>
