$black: #161617 !default;
$darkness: #22110c !default; // Some titles
$black-bis: #0d0e0e !default;
$black-ter: #26282a !default;
$grey-darker: #404046 !default;
$grey-dark: #091580 !default;
$grey: #7e7e7e !default;
$grey-light: #a0a0a0 !default;
$grey-lighter: #ededed !default;
$light: #f1f3f5 !default;
$white-ter: #f8f9fa !default;
$white-bis: #fbfcfd !default;
$light-bis: #f1f1f1 !default; // Sheet
$white: #fff !default;
$danger: #ff5e5b !default;
$success: #2be1b7 !default;
$info: #4cc9f0 !default;
$warning: #f2c79c !default;
$link: #2430f0 !default;
$primary: #7209b7 !default;
$size-8: 0.75rem !default;
$navbar-item-hover-background-color: transparent !default;
$input-background-color: $white-ter !default;
$input-border-color: $grey-light !default;
$family-code: 'Fira Code', 'SF Mono', 'Roboto Mono', 'Source Code Pro',
  'Ubuntu Mono', monospace !default;
$handwriting: 'Permanent Marker', cursive !default;
$column-gap: 1rem !default;
$gap: 2rem !default;
