.error-h1 {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0 23px 0 0;
  font-size: 38px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.error-h2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 49px;
  margin: 0;
}
