<footer class="footer">
  <div class="container">
    <hr class="has-background-grey-darker" />
    <div class="content">
      <div class="columns">
        <div class="column is-6">
          <a routerLink="/">
            <img
              src="./assets/images/logo-white.svg"
              alt="CASE logo"
              width="124"
            />
          </a>
          <p class="content is-small">© 2023, CASE</p>
        </div>
        <div class="column is-6 has-text-right">
          <span class="has-text-grey">Join us on:</span>
          <a class="px-1" href="https://github.com/casejs/case" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="px-1"
            href="https://discord.com/invite/FepAked3W7"
            target="_blank"
          >
            <i class="fa-brands fa-discord"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
