<footer class="footer is-flex is-align-items-flex-end">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column is-6 has-text-dark">
          <a routerLink="/">
            <img
              src="./assets/images/logo-black.svg"
              alt="CASE logo"
              width="124"
            />
          </a>
          <p class="content is-small">© 2023, CASE</p>
        </div>
        <div class="column is-6 has-text-right">
          <a
            class="px-1 has-text-dark"
            href="https://github.com/casejs/case"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            class="px-1 has-text-dark"
            href="https://discord.com/invite/FepAked3W7"
            target="_blank"
          >
            <i class="fa-brands fa-discord"></i>
          </a>
          <a
            class="px-1 has-text-dark"
            href="https://dev.to/casejs"
            target="_blank"
          >
            <i class="fa-brands fa-dev"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
