<div class="container">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content">
        <div class="mt-2 mb-4 is-flex is-flex-direction-column">
          <!-- Thread-->
          <div
            class="bubble is-bordered is-small is-radius has-background-white"
            *ngFor="let message of messages; let index = index"
            [ngClass]="{
              'bubble--user': message.author === 'user',
              'bubble--assistant': message.author === 'assistant'
            }"
          >
            <div
              class="is-flex is-align-items-center is-justify-content-flex-start mb-2"
            >
              <span
                class="content is-size-8 mb-0 mr-2"
                *ngIf="message.author === 'user'"
                >You</span
              >
              <ng-container *ngIf="message.author === 'assistant'">
                <img
                  src="./assets/images/logo-peacock.svg"
                  width="16"
                  alt="Manifest logo"
                  class="mr-2"
                />
                <span class="content is-size-8 mb-0 mr-2">Manifest</span>
              </ng-container>
              <span class="content is-size-8 has-text-grey-dark">{{
                message.time | date : 'shortTime'
              }}</span>
            </div>
            <div class="chat-bubble mb-4" *ngIf="!message.isBackendFile">
              <p>{{ message.content }}</p>
            </div>

            <div class="yaml-content" *ngIf="message.isBackendFile">
              <pre
                class="mt-0 pre--hero"
              ><code [highlight]="message.content" language="yaml" class="language-yaml"></code></pre>
            </div>
          </div>

          <!-- Loader -->
          <div
            class="is-flex is-thinking is-align-items-center is-justify-content-center"
            *ngIf="loading"
          >
            <img
              src="./assets/images/spinner-dots.svg"
              width="24"
              alt="loading..."
            />
          </div>

          <!-- Input -->
          <form [formGroup]="form">
            <div
              class="control control--llm is-small has-border-gradient"
              *ngIf="!loading && !cloudInstanceUrl"
            >
              <textarea
                class="textarea has-fixed-size is-small"
                rows="6"
                style="border-radius: 7px"
                formControlName="prompt"
                #promptInput
              ></textarea>
              <button
                class="button is-dark send is-very-small"
                *ngIf="!isPromptEmpty"
                (click)="submitPrompt(promptInput.value)"
              >
                <span class="icon">
                  <i class="fa-solid fa-arrow-up"></i>
                </span>
              </button>
            </div>
          </form>

          <!-- Success message -->
          <div
            class="bubble is-bordered is-small is-radius has-background-white"
            *ngIf="!loading && cloudInstanceUrl"
          >
            <div class="chat-bubble mb-4">
              <p>Et voilà !!!</p>
              <p>Your backend is on the cloud:</p>
              <ul>
                <li>
                  Admin panel:
                  <a href="{{ cloudInstanceUrl }}" target="_blank">{{
                    cloudInstanceUrl
                  }}</a>
                </li>
                <li>
                  REST API Doc:yarn create manifest streambox --cursor
                  --backendFile=https://storage.manifest.new/backend-streambox-202
                  <a href="{{ cloudInstanceUrl }}/api" target="_blank"
                    >{{ cloudInstanceUrl }}/api</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Start working locally -->

          <app-copy-button
            [projectName]="projectName"
            [backendFilePath]="backendFilePath"
            *ngIf="!loading"
          ></app-copy-button>
        </div>
      </div>
    </div>
  </div>
</div>
